<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
    <title>Books</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1>Book Management System</h1>
        <hr>
        <h2>Save Book</h2>

        <form action="#" th:action="@{/books/saveBook}" th:object="${book}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{title}" class="form-control mb-4 col-4">

            <input type="text" th:field="*{isbn}" class="form-control mb-4 col-4">

            <textarea th:field="*{description}" rows="6" cols="10" class="form-control" placeholder="Beschreibung"></textarea>

            <button type="submit" class="btn btn-info col-2"> Update Book</button>
        </form>

        <hr>

        <a th:href="@{/books/list}"> Back to Book List</a>
    </div>
</div>
</body>
</html>